$primary-dark: #021d2a;
$primary-light: #002b40;
$secondary: #14e114;
$font-secondary: "Roboto Slab", serif;

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  background-color: $primary-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}
h2 ~ h3,
h3 ~ h4,
h4 ~ h5 {
  font-family: "Josefin Sans", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover {
  }
}
figure {
  margin: 0;
}
.ph-btn {
  width: 100%;
  max-width: 360px;
  padding: 8px 20px;
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  transition: all 0.5s ease-in-out;
  text-align: center;
  margin-top: 30px;

  &:hover {
    color: #000;
    background-color: transparent;
  }
}

/* section default stats */

.ph-section {
  &__padding-lg {
    &--t {
      padding-top: 120px;
    }

    &--b {
      padding-bottom: 120px;
    }

    &--tb {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__padding-md {
    &--t {
      padding-top: 90px;
    }

    &--b {
      padding-bottom: 90px;
    }

    &--tb {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }

  &__padding-sm {
    &--t {
      padding-top: 60px;
    }

    &--b {
      padding-bottom: 60px;
    }

    &--tb {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}

/* section default stats */

/* input ends */
.ph-input-wrapper {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  background-color: #e2e2e2;
  border: 0;
  outline: none;
  padding: 8px 15px;
}

input {
  height: 45px;
}

input[type="submit"] {
  max-width: 150px;
}

textarea {
  height: 150px;
  resize: none;
}

form .ph-half {
  display: flex;
  justify-content: space-between;
}

.ph-half .ph-input-wrapper {
  width: calc(50% - 15px);
}

/* input ends */
/* header__fixed ends */
.header_fixed.ph-header {
  background-color: #fff;
  z-index: 98;
  position: fixed;
  width: 50px;
  font-size: 0 !important;
  margin: 0;
  top: -70px;
  left: 0;
  border-radius: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease,
    -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: 99;
  .ph-header__wrapper {
    padding: 5px;
    width: 50px;
    i {
      font-size: 24px;
      width: 100%;
      text-align: center;
    }
  }
  .ph-sub-menu,
  .ph-has-sub-menu:after {
    opacity: 0 !important;
    visibility: hidden;
  }
  .ph-header__book-now {
    font-size: 20px;
    transform: rotate(-90deg);
    width: 200px;
    height: 270px;
    position: absolute;
  }
  .ph-header__user {
    margin-top: 320px;
  }
  .ph-header__social {
    a {
      height: 0;
      width: 0;
      border: none;
    }
    i {
      font-size: 0;
    }
  }
}

// height 32
// .admin-bar .header_fixed.ph-header {
//     top: -38px;
// }

/* header__fixed ends */

.ph-header .ham-menu {
  display: none;

  &__ham-line {
    background-color: #000;
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .ph-header .ham-menu {
    display: block;
    position: absolute;
    top: 55px;
    right: 55px;
    z-index: 99;
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: 2;

    &.active {
      span {
        background-color: #000;

        &:first-of-type {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          margin-top: 12px;
          height: 4px;
        }

        &:nth-of-type(2) {
          display: none;
        }

        &:last-of-type {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          margin-top: -8px;
          height: 4px;
        }
      }
    }
  }

  .ph-header__menu ul {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
  }

  form .ph-half {
    display: block;
  }

  .ph-half .ph-input-wrapper {
    width: 100%;
  }
}

// header starts
header {
  width: 315px;
  float: left;
  position: fixed;
  z-index: 5;
  a {
    color: #fff;
  }
}

.ph-header {
  transition: all 0.1s;
  &__wrapper {
    position: relative;
    z-index: 2;
    padding: 45px 30px;
    background-color: $primary-dark;
    min-height: 100vh;
    display: inline-grid;
    align-content: space-evenly;
    width: 320px;
  }
  &__menu {
    margin: 45px 0;
    li {
      position: relative;
      &.ph-has-sub-menu {
        &:after {
          content: "\f105";
          display: inline-block;
          font: normal normal normal 14px / 1 FontAwesome;
          position: absolute;
          right: 0;
          top: calc(50% - 3px);
        }
        &:hover {
          .ph-sub-menu {
            opacity: 1;
            visibility: visible;
            z-index: 1;
          }
        }
      }
      &:hover {
        a:after {
          color: $secondary;
        }
        span {
          color: $secondary;
          transition: all 0.25s;
          &:after {
            width: 100%;
          }
        }
      }
    }
    a {
      color: #fff;
      padding: 15px 0;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #002b40;

      span {
        display: inline-block;
        position: relative;
        margin-left: 15px;
        &:after {
          content: "";
          height: 3px;
          position: absolute;
          bottom: -15px;
          left: 0;
          width: 0;
          transition: all 0.5s;
        }
        &:after {
          background-color: #14e114;
        }
      }
    }
  }
  &__user {
    display: flex;
    justify-content: space-around;
    max-width: 150px;
    margin: auto;
    margin-top: 60px;
    i {
      font-size: 30px;
    }
  }
  &__social {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    li {
      &:hover {
        a,
        i {
          border-color: $secondary;
          color: $secondary;
        }
      }
    }
    a {
      height: 40px;
      width: 40px;
      border: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: all 0.5s;
      font-size: 22px;
    }
  }
}
.ph-sub-menu {
  position: absolute;
  left: calc(100% + 30px);
  z-index: -1;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background: $primary-light;
  width: 280px;
  padding: 15px;
  transition: all ease-out 0.5s;
  box-shadow: 2px 0px 4px 2px rgba(2, 29, 42, 0.4);
  a {
    padding: 15px 30px;
  }
}
// header ends

// homepage main starts
main {
  width: calc(100% - 315px);
  position: relative;
  float: right;
  transition: all 0.1s;
}
header.ph-header.header_fixed ~ main {
  width: calc(100% - 50px);
}
.ph-banner {
  div * {
    height: 100vh;
  }
}
.ph-about {
  &__content {
    img {
      min-height: 400px;
      object-fit: cover;
    }
  }
}
.ph-component {
  background-color: $primary-dark;
  &__img,
  figure,
  img {
    height: 100%;
    width: 100%;
  }
  .row:nth-child(even) {
    .col-6 {
      &:first-of-type {
        order: 2;
      }
      &:last-of-type {
        order: 1;
      }
    }
  }
  &__content {
    padding: 60px;
  }
}

.ph-menu-tab {
  .nav-tabs {
    justify-content: center;
    border: 0;
  }
  .nav-item {
    padding: 30px;
    position: relative;
    &:not(:last-of-type):after {
      content: "";
      height: 6px;
      width: 6px;
      background-color: $secondary;
      position: absolute;
      right: -3px;
      top: calc(50% - 3px);
      transform: rotate(45deg);
    }
  }
  .nav-link {
    position: relative;
    padding: 5px;
    color: #fff;
    border: none !important;
    &.active {
      background-color: transparent;
      color: $secondary;
      border: 0;
      &:after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      width: 0;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 2px;
      background-color: $secondary;
      transition: all 0.5s;
    }
    &:hover {
      border: none !important;
      color: $secondary;
      &:after {
        width: 100%;
      }
    }
  }
  &__item {
    display: flex;
    margin: 15px 0;

    &:hover {
      img {
        animation: rotateOnce 1s linear forwards; /* Apply animation for one full rotation */
      }
    }
    figure {
      margin-right: 30px;
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
    &--title {
      display: flex;
      align-items: end;
      justify-content: space-between;
      font-family: $font-secondary;
      font-size: 24px;
      margin-bottom: 15px;
      h3 {
        font-size: inherit;
        max-width: 80%;
        margin-bottom: 0;
      }
      .ph-dots {
        flex-grow: 1;
        border-bottom: 1px dashed;
        margin: 0 10px 5px 10px;
        border-color: $secondary;
      }
      small {
        font-size: inherit;
      }
    }
  }
  .col-5:nth-of-type(odd) {
    position: relative;
    &:after {
      content: "";
      width: 1px;
      height: 100%;
      border-right: 1px dashed $secondary;
      position: absolute;
      right: -19.2%;
      top: 0;
    }
  }
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Rotate the image by 360 degrees */
  }
}

.ph-highlight {
  &__item {
    position: relative;
    min-height: 200px;
    overflow: hidden;
    figure {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
    &:hover {
      .ph-highlight__item--details {
        opacity: 1;
        visibility: visible;
      }
    }
    &--details {
      position: absolute;
      bottom: 30px;
      left: 30px;
      right: 30px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5ss;

      p {
        margin-bottom: 0;
      }
    }
  }
}
// main ends
